/* Custom color theme properties */
:root {
  --f7-theme-color: #047857;
  --f7-theme-color-rgb: 4, 120, 87;
  --f7-theme-color-shade: #03513a;
  --f7-theme-color-tint: #059f74;
}

/* Your app custom styles here */