/* Custom color theme properties */
:root {
  --f7-theme-color: #008000;
  --f7-theme-color-rgb: 0, 128, 0;
  --f7-theme-color-shade: #005700;
  --f7-theme-color-tint: #00a900;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 0;
  --g: 128;
  --b: 0;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-input-placeholder { /* WebKit browsers */
  text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  text-transform: none;
}
::placeholder { /* Recent browsers */
  text-transform: none;
}

.list ul::before {
  content: none;
}

.list ul::after {
  content: none;
}

.block-title {
  margin-bottom: 0;
}

.modal-title {
  font-size: 18px;
  font-weight: 300;
}

.add-form {
  margin-bottom: 10px;
}

.block {
  margin-top: 15px;
}

.modal-form {
  margin-top: 0;
}

html {
  scroll-behavior: smooth;
}

.transactions-list {
  margin: 10px 0;
}

.overview-list {
  margin: 10px 0;
}

.overview-list .item-inner:after {
  content: none;
}

.overview-list .item-inner {
  margin: 10px 0;
}

.budget-summary-list {
  margin: 0;
}

.budget-summary-list .item-inner:after {
  content: none;
}

.monthly-budget-list {
  margin: 0 0 15px 0;
}

.delete-callback .item-inner:after {
  content: none;
}

h1, h2, h3, h4, h5, h6  {
  margin: 0;
}

.budget-summary-list .item-cell:last-child {
  margin-left: 0;
  justify-content: end;
}

.list .item-row {
  display: auto;
}

.spacer {
  height: 65px;
}
